<!DOCTYPE html>
<html>
  <head>
    <title>Saved!</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Saved!</h1>
    <p>Entry saved! This window will self-destruct in 3 seconds. <a href="#" onclick="window.close()">Close Now</a></p>
    <script>
        window.setTimeout(function() { window.close(); }, 3000);
    </script>
  </body>
</html>